// Specific CSS for your home-page
$color1 : rgba(255, 205, 5, 0.822);
$color2 : rgb(25, 27, 38);


.body-home {
  color: rgb(255, 255, 255);
  // background-color: rgba(0, 0, 0, 0.623);
  background-image: url(https://wallpapers-hub.art/wallpaper-images/96050.jpg);
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  line-height: 35px;
  background-size: 109%;
  background-position-y: 804px;
  background-position-x: 239px;
}

.search-space {
font-size: 30px;
}
.company_name {
  text-align: center;
  padding-top: 5px;
}

.banner::before {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wallpaperup.com/uploads/wallpapers/2017/11/18/1156498/2c77ba36821e3d62cb83cc6826af37bc-700.jpg);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: 105%;
  background-position-y: 0px;
  background-position-x: -72px;
  border-bottom: rgb(25, 27, 38);
}
.banner {
  padding: 210px 0;
  position: relative;
}
.banner h1 {
  margin: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(255, 203, 5);
  font-size: 80px;
  font-weight: bold;
  position: relative;
}
.banner p {
  font-size: 20px;
  color: white;
  position: relative;
}

.factories_home {
  text-align: left;
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.second_factories_home {
  text-align: left;
  padding-top: 85px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
}
h4{
  text-align: center;
  font-size: 49px;
  padding-top: 65px;
  padding-bottom: 20px;
  // margin-left: 55px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(255, 203, 5);
}
// .factory.price_per_day{
//   justify-content: right;
// }

.space{
height: 100px;
width: 100%;
background-color: rgb(25, 27, 38);
text-shadow: 0px 0px 6px rgb(255, 203, 5);
padding-top: 25px;
text-align: center;
}

.container3 {
  text-align: left;
  padding-bottom: 30px;
}
#input {
  border-radius: 5px;
  position: relative;
  border-block-start-style: none;
  border-block-end-style: none;
  border-inline: none;
}

.card{
  width: 300px;
  height: 250px;
  border-radius: 15px;
  background-color: rgb(25, 27, 38);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  .image{
    height: 85%;
    border-radius: 15px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .text_outside{
    height: 15%;
    background-color: rgb(25, 27, 38);
    border-radius: 15px;
    padding-left: 15px;
    font-size: 20px;
    text-align: center;

  }
}

.card .image {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.5s;
  z-index:0;
  //transition: z-index 1s 1s;
  &:hover {
    z-index:10;
    -webkit-box-shadow: inset 0px 0px 101px 100px $color1;
    -moz-box-shadow: inset 0px 0px 101px 100px $color1;
    box-shadow: inset 0px 0px 101px 100px $color1;
    .text_inside {
      opacity:1;
      transition-delay: 0.4s;
    }
  }
  .text_inside {
    color: rgb(25, 27, 38);
    opacity:0;
    transition-duration: 0.5s;
    transition-delay: 0s;
    padding: 10px;
    font-size: 20px;
  }
  &1:hover {
    -webkit-box-shadow: 0px 0px 201px 56px $color1;
    -moz-box-shadow: 0px 0px 201px 56px $color1;
    box-shadow: 0px 0px 201px 56px $color1;
  }
  &2:hover {
    -webkit-box-shadow: inset 0px 0px 101px 100px $color1, 0px 0px 201px 56px $color1;
    box-shadow: inset 0px 0px 101px 100px $color1, 0px 0px 201px 56px $color1;
  }
}

a  {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}
