// Specific CSS for your home-page
body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  line-height: 35px
}
.company_name {
  text-align: center;
  padding-top: 5px;
}

.banner::before{
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wallpaperup.com/uploads/wallpapers/2017/11/18/1156498/2c77ba36821e3d62cb83cc6826af37bc-700.jpg);
  // opacity: 100%;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: 105%;
  background-position-y: 0px;
  background-position-x: -71px;
}
.banner {
  padding: 180px 0;
  position: relative;
}
.banner h1 {
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-weight: bold;
  position: relative;
}
.banner p {
  font-size: 20px;
  color: white;
  position: relative;
}

.factories_home {
  text-align: left;
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.second_factories_home {
  text-align: left;
  padding-top: 45px;
  display: flex;
  justify-content: space-evenly;
}
h4{
  text-align: left;
  padding-top: 30px;
  margin-left: 55px;
}
.container3 {
  text-align: left;
  padding-bottom: 30px;
}
#input {
  border-radius: 10px;
  position: relative;
  border-block-start-style: none;
  border-block-end-style: none;
  border-inline: none;
}
.card{
  width: 300px;
  height: 250px;
  background-size: cover;
  border-radius: 15px;
  .image{
    height: 90%;
  }
  .text{
    height: 10%;
    background-color: white;
  }
}
