#new_user {
position: relative;
width: 34%;
left: 30%;
}

.form-actions {
width: 20%;
margin-left: 425px;
}

.log-in h2 {
margin-left: 425px;
margin-bottom: 35px;
}

.add-ons {
margin-left: 425px;
margin-bottom: 35px;
}

.log-in {
background-color: #202124;
}
