<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.gea.com/fr/binaries/gea-craft-brewing-plug-and-win_tcm29-50426.jpg)">
  This is your confirm booking page
</div>
