<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Map Layout</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  </head>
  <body>

<% if policy(Factory).create? %>
  <%= link_to "New Factory", new_factory_path %>
<% end %>

<% @factories.each do |factory| %>
  <% if policy(factory).edit? %>
    <%= link_to "Update", edit_factory_path(factory) %>
  <% end %>
<% end %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.gea.com/fr/binaries/gea-craft-brewing-plug-and-win_tcm29-50426.jpg)">
  Discover our Craft Beer Factories
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn2.justwineapp.com/assets/article/2019/08/The-Beer-Connoisseur.jpg)">
    Factory Que Pareu
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://blog.airliquide.co.uk/sites/default/files/Craft%20Brewery.png)">
    Factory Yeah Baby
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.caldic.com/-/media/caldicplatform/2-homepage/solutions-industrial/brewery-calsil/brewery_1280x480.jpg)">
    Factory Origin
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://d3h1lg3ksw6i6b.cloudfront.net/media/image/2017/08/11/9aeab86ad1d440b4ac6c3e1243ab095e_sawmill-oct16-2109.jpg)">
    Factory Beer Maniac
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.experiencedays.co.uk/images/Beer-Brewing-Dorchester-4-1920x1080-resize.jpg)">
    Factory Yessai
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.buyagift.co.uk/common/client/Images/Product/Extralarge/en-GB/10757629ActivitySheetImage.jpg)">
    Factory Basical
  </div>
</div>
<img id="map" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/18.7072,38.9963,1.05,0/600x800?access_token=pk.eyJ1IjoiZG1pbG9uIiwiYSI6ImNrdHlpejZ3eTFleGUybnA4N2Rwa2J2a24ifQ.O8GDpHfLESId83b0vaJCAA">
</body>
</html>
