
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.gea.com/fr/binaries/gea-craft-brewing-plug-and-win_tcm29-50426.jpg)">
  Discover our Craft Beer Factories
</div>
<div class="factory-position">
  <div class="left">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn2.justwineapp.com/assets/article/2019/08/The-Beer-Connoisseur.jpg)">
      Cerbezita
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://blog.airliquide.co.uk/sites/default/files/Craft%20Brewery.png)">
      Cañarita
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.caldic.com/-/media/caldicplatform/2-homepage/solutions-industrial/brewery-calsil/brewery_1280x480.jpg)">
      Origin
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://d3h1lg3ksw6i6b.cloudfront.net/media/image/2017/08/11/9aeab86ad1d440b4ac6c3e1243ab095e_sawmill-oct16-2109.jpg)">
      Beer Maniac
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.experiencedays.co.uk/images/Beer-Brewing-Dorchester-4-1920x1080-resize.jpg)">
      Champard
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.buyagift.co.uk/common/client/Images/Product/Extralarge/en-GB/10757629ActivitySheetImage.jpg)">
      À la Fût
    </div>
  </div>
  </div>
  <div class="right">
    <img id="map" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/18.7072,38.9963,1.05,0/600x800?access_token=pk.eyJ1IjoiZG1pbG9uIiwiYSI6ImNrdHlpejZ3eTFleGUybnA4N2Rwa2J2a24ifQ.O8GDpHfLESId83b0vaJCAA">
  </div>
</div>
