<div class="container-form">
  <div class="form-wrapper" style="width: 300px; margin: 0 auto;">

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :check_in, as: :string, required: false, input_html: { id: "range_start" } %>
      <%= f.input :checkout, as: :string, required: false, input_html: { id: "range_end" } %>
      <%= f.button :submit, "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
