<div class="card">
  <div class="image" style="background: url(<%= url %>);background-size: cover">
  <span class="text_inside"></span>
  </div>
  <div class="text_outside" ><%= description %></div>
</div>
