<body>
  <div class="container">
  <h1>*company name*</h1>
  <p>Discover all new Craft Beer factories around you</p>
  </div>

  <div class="container2">
  <h4>TOP FACTORY</h4>
  </div>

  <div class="container3">
  <p>Home</p>
  <p>All Beers</p>
  <p>Sign In</p>
  </div>
</body>
