<!DOCTYPE html>
<html>

  <head>

  </head>

  <body>
    <div class="container1">
    <h1>*company name*</h1>
    <p>Discover all new Craft Beer factories around you</p>
    <input id="input" type="search" autocomplete="off" spellcheck="false" role="combobox" aria-live="polite" placeholder="I'm searching for...">
    </div>

    <div class="container2">
    <h4>TOP FACTORY</h4>
    <p>here photos of places</p>
    </div>
  </body>

</html>
