<div class="beer-list">
  <div class="d-flex">

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/11/ALAFU_cascabelle-prairies_473ml_3d.png" alt="">
        <div class="beer-descitpion-layout">
          <h3>Cascabelle des prairies</h3>
          <p><em>Double IPA à l'avoine</em></p>
          <p>8,2% alc./vol.</p>
        </div>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/09/ALAFU_Coyloup_3D.png" alt="">
        <div class="beer-descitpion-layout">
          <h3>Coyloup</h3>
          <p><em>Brett IPA - Citra</em></p>
          <p>7,5% alc./vol.</p>
        </div>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/06/ALAFU_Frankie_3D.png" alt="">
        <div class="beer-descitpion-layout">
          <h3>Frankie</h3>
          <p><em>IPA Saline</em></p>
          <p>7,5% alc./vol.</p>
        </div>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/06/ALAFU_Generique_3D.png" alt="">
        <div class="beer-descitpion-layout">
          <h3>IPA du Far Est</h3>
          <p><em>Ananas</em></p>
          <p>7,5% alc./vol.</p>
        </div>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/05/ColibriRufus_3D.png" alt="">
        <div class="beer-descitpion-layout">
          <h3>Colibris Rufus</h3>
          <p><em>Nano IPA</em></p>
          <p>2% alc./vol.</p>
        </div>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2018/08/ALAFU_PtiteCocotte_3D.png" alt="">
        <div class="beer-descitpion-layout">
          <h3>P'tite Cocotte</h3>
          <p><em>Session IPA</em></p>
          <p>3,8% alc./vol.</p>
        </div>
      </div>
    </div>
  </div>
</div>
