<div class="beer-list">
    <div class="d-flex">

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/11/ALAFU_cascabelle-prairies_473ml_3d.png" alt="">
        <p>@beer.name</p>
        <p>@beer.abv</p>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/09/ALAFU_Coyloup_3D.png" alt="">
        <p>@beer.name</p>
        <p>@beer.abv</p>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/06/ALAFU_Frankie_3D.png" alt="">
        <p>@beer.name</p>
        <p>@beer.abv</p>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/06/ALAFU_Generique_3D.png" alt="">
        <p>@beer.name</p>
        <p>@beer.abv</p>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2021/05/ColibriRufus_3D.png" alt="">
        <p>@beer.name</p>
        <p>@beer.abv</p>
      </div>

      <div class="beer-card">
        <img src="https://www.alafut.qc.ca/app/uploads/2018/08/ALAFU_PtiteCocotte_3D.png" alt="">
        <p>@beer.name</p>
        <p>@beer.abv</p>
      </div>

    </div>
</div>
