<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beers</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  </head>
  <body>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.gea.com/fr/binaries/gea-craft-brewing-plug-and-win_tcm29-50426.jpg)">
  Discover our Craft Beers
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.alafut.qc.ca/app/uploads/2021/11/ALAFU_cascabelle-prairies_473ml_3d.png)">
    Cascabelle des prairies
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.alafut.qc.ca/app/uploads/2021/09/ALAFU_Coyloup_3D.png)">
    Coyloup
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.alafut.qc.ca/app/uploads/2021/06/ALAFU_Frankie_3D.png)">
    Frankie
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.alafut.qc.ca/app/uploads/2021/06/ALAFU_Generique_3D.png)">
    IPA du Far Est Ananas
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.alafut.qc.ca/app/uploads/2021/05/ColibriRufus_3D.png)">
    Colibris Rufus
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.alafut.qc.ca/app/uploads/2018/08/ALAFU_PtiteCocotte_3D.png)">
    P'tite Cocotte
  </div>
</div>
</body>
</html>
