.factory-show-layout {
  padding: 20px;
  background-color: #d32929;
  color: black;
  font-family: 'Arial';
  line-height: 25px;
  text-align: justify;

  img {
    height: 700px;
  }
}

.price-guest-layout {
  text-align: right;
}
