.factory-show-layout {
  padding: 20px;
  background-color: #F4F4F4;
  color: black;
  font-family: 'Arial';
  line-height: 25px;
  text-align: justify;

  img {
    height: 600px;
  }
}

.price-guest-layout {
  text-align: right;
  padding: 300px 0 50px 0;
}
