.footer {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  // justify-content: space-between;
  height: 100px;
  padding: 40px;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 45px;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
#instagram {
  color: rgb(152, 58, 165);
}
#youtube {
  color: rgb(201, 15, 15);
}
#facebook {
  color: rgb(41, 65, 168);
}
#twitter {
  color: rgb(15, 127, 201);
}
