.factory-position {
  display: flex;
  width: 100vw;
  .left {
    width: 65%;
  }
  .right {
    width: 35%;
  }
}
#map {
  height: 100vh;
  position: sticky;
  top: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 40px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 30px;
  border-radius: 15px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
    #map {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
    #map {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
    #map {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
    #map {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
    #map {
    display: block;
  }
}
