
.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(25, 27, 38);

  a {
    color: rgb(255, 203, 5) !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  color: rgb(255, 255, 255);
  width: 40px;
}

.navbar-text {
  padding-right: 70px;
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 10px;
}

.nav-item dropdown {
  margin-left: 10px;
}

.dropdown-item {
  padding: 20px;
  font-size: 19px;
}

.avatar dropdown-toggle {
  margin-left: 30px;
}

.nav-item {
display:flex;
align-items: center;
margin-left: 20px;
margin-right: 20px;
}
